{
  "prefix": "", // Command prefix to listen for bot
  "id":"", // Id of the bot
  "token": "", // Token of the bot
  "memeCdnUrl": "", // Url of cdn
  "adminIds": [], // id's list of Admins
  "moderatorIdRole": "", // Id of moderator
  "invitedIdRole": "", // if of role that can be kick
  "memberIdRole": "", // Id of member
  "actifIdRole": "", // Id of actif
  "volontaireIdRole": "", // if of people with more rights
  "mediationIdRole": "", // id of role for people acces in mediation
  "voteIdChannel": "", // Id chanel where will be post polls
  "lobbyIdChannel": "", // Lobby id chanel for welcome message
  "annoncesIdChannel": "", // Id for log channel
  "newsIdChannel": "", // id where news are post
  "memeCdnNb": , // Number of meme on the cdn
  "propagandeCdnNb": , // Number of propagande img on cdn
  "login": "", // Login for mediapart/asi
  "password": "", // Password for mediapart/asi
  "rssUrl": "" // rss url checked for news
}
